# Flutter/Dart artifacts
.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock

# IntelliJ / VS Code
.idea/
.vscode/

# Flutter iOS build files
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner/GeneratedPluginRegistrant.*

# Android build files
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/.gradle/
.gradle/
local.properties

# macOS system files
.DS_Store

# Other examples or generated content
example/build/
example/.dart_tool/
example/ios/Flutter/flutter_export_environment.sh
example/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
